# Linear Regression

In [19]:
import pandas as pd
from sklearn import preprocessing

In [20]:
df = pd.read_csv("day.csv")
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [21]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [22]:
df.shape

(731, 16)

In [23]:
def label_encoder(df,column):
    le = preprocessing.LabelEncoder()
    le.fit_transform(df[column])
    ohe = preprocessing.OneHotEncoder()
    temp_array = ohe.fit_transform(df[[column]]).toarray()
    column_names = [column + '_' + str(m) for m in le.classes_]
    return (pd.DataFrame(temp_array, columns=column_names))

In [24]:
categorical_variables = ["season","yr","mnth","holiday","weekday","workingday","weathersit"]
numerical_variables = ["temp","atemp","hum","windspeed","casual","registered"]

In [25]:
new_df = df[numerical_variables]
for column in categorical_variables:
    new_df = pd.concat([new_df,label_encoder(df,column)],axis=1)
new_df.head(5)

D:\Gaurav\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\Gaurav\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\Gaurav\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\Gaurav\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\Gaurav\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\Gaurav\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\Gaurav\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

,temp,atemp,hum,windspeed,casual,registered,season_1,season_2,season_3,season_4,...,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,workingday_0,workingday_1,weathersit_1,weathersit_2,weathersit_3
0,0.344167,0.363625,0.805833,0.160446,331,654,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1,0.363478,0.353739,0.696087,0.248539,131,670,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.196364,0.189405,0.437273,0.248309,120,1229,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,0.200000,0.212122,0.590435,0.160296,108,1454,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,0.226957,0.229270,0.436957,0.186900,82,1518,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [26]:
new_df.shape

(731, 38)

In [27]:
new_df.columns

Index(['temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'season_1',
       'season_2', 'season_3', 'season_4', 'yr_0', 'yr_1', 'mnth_1', 'mnth_2',
       'mnth_3', 'mnth_4', 'mnth_5', 'mnth_6', 'mnth_7', 'mnth_8', 'mnth_9',
       'mnth_10', 'mnth_11', 'mnth_12', 'holiday_0', 'holiday_1', 'weekday_0',
       'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5',
       'weekday_6', 'workingday_0', 'workingday_1', 'weathersit_1',
       'weathersit_2', 'weathersit_3'],
      dtype='object')

In [28]:
df["season"].unique()

array([1, 2, 3, 4], dtype=int64)

In [29]:
from sklearn.model_selection import train_test_split

In [50]:
X,X_test,y,y_test = train_test_split(new_df,df["cnt"],test_size=0.3)

In [51]:
from sklearn.linear_model import LinearRegression

In [52]:
model = LinearRegression()

In [53]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [54]:
y_pred = model.predict(X_test)

In [55]:
# RSquare/ Mean Squared Error, Mean Absolute Percentage Error

In [56]:
from sklearn.metrics import r2_score, mean_squared_error

In [57]:
r2_score(y_test,y_pred)

1.0

In [58]:
y2 = model.predict(X)
y2

array([1842., 4661., 4765., 4035., 7446., 3392., 1977.,  822., 1891.,
       7592., 3894.,  431., 6536., 3485., 4985., 5342., 3068., 2368.,
       6153., 5823., 6883., 5923., 4563., 1812., 1693., 5892., 5810.,
       2114., 5008., 4629., 8120., 4585., 7639., 4972., 3855.,  683.,
       6544., 1421., 4648., 7286., 1321., 7006., 7605., 5686., 2416.,
       7836., 5115., 1472., 6569., 5204., 4649., 2689., 2808., 2739.,
       3351., 4010., 4151., 4322., 2843., 3372., 1317., 7538., 4790.,
       4509., 5058., 2914., 4375., 5532., 3659., 3115., 2177., 6606.,
       4940., 3351.,   22., 7105., 4672., 5445., 1685., 4727., 3956.,
       6230., 3974., 6211., 5918., 4608., 5267.,  801., 2493., 1501.,
       5501., 3740., 6778., 1834., 3811., 2192., 3606., 5698., 5566.,
       6073., 3872., 3846., 7338., 4576., 7691., 6786., 4073., 4073.,
       6904., 5463., 6664., 5511., 6591., 7461., 1098., 2423., 5202.,
       4906., 3727., 3425., 4318., 4120., 4153., 2895., 5633., 4881.,
        506., 5202., 5115., 3239.,  441., 4154., 2294., 3805., 2077.,
       7765., 2236., 4758., 3204., 7442., 7572., 3322., 4548., 7641.,
       3974., 6852., 7665., 4040., 8362., 6565., 5409., 6140., 3389.,
       4205., 3348., 4189., 2660., 5146., 6241., 4665., 1685., 1623.,
       5062., 4123., 7282., 7580., 3429., 2765., 4840., 7109., 6871.,
       5117., 7582., 6597., 5225., 4459., 3285., 4338., 2169., 1005.,
       7466., 4677.,  754., 7030., 1796., 5259., 3820., 1944., 4773.,
       2455., 4744., 8555., 4258., 6392., 4687., 5375., 4795., 5895.,
       1450., 3544., 1013., 6299., 6639., 1510., 3940., 3292., 8227.,
       1096., 6031., 4579., 3141., 5515., 4905., 2425., 3649., 8395.,
       2277., 8090., 5572., 3915., 5558., 8009., 4521., 4996., 3761.,
       6273., 3926., 7720., 3376., 5336., 7415., 5847., 1550., 4451.,
       4068., 2999., 4803., 6855., 7129., 7347., 4669., 2566., 6978.,
       6196., 8173., 3068., 6235., 3163., 3214., 3669., 5099., 6685.,
       5087., 2424., 2425., 5047., 4833., 3747., 4602., 5020., 5312.,
       7591., 4917., 6917., 6296., 1107., 4458., 3456., 3613., 7458.,
       7132., 3423., 6536., 6169., 4098., 7713.,  705., 6043., 5191.,
       4195., 2133., 4586., 4304., 6824., 6053., 6734., 1969., 4352.,
       2743., 7273., 5870., 4780., 4475., 7570., 6034., 4916., 5138.,
       4891., 5713., 7148., 4714., 2056., 7375., 4326., 2227., 5976.,
       6691., 3624., 2121., 6864., 6998., 4266., 3784., 1115., 4169.,
       5875., 4717., 3071., 4839., 1162., 4067., 7767., 3487., 7697.,
       2376., 7436., 4274., 4630., 1951., 3310., 4649., 6530., 1538.,
       7393., 4844., 5312., 7852., 6572., 2947., 7363., 3249., 4058.,
       4098., 7736., 3907., 5905., 4127., 2402., 1301., 3368., 5345.,
       5107., 2496., 6770., 6118., 2210., 6825., 4990., 4334., 2918.,
       3750., 2802., 5424., 3387., 4911., 1000., 3095., 2311., 1712.,
       1600., 3005., 2252., 3641., 6883., 6359., 5743., 2302., 3243.,
       7498., 6772.,  985., 2432., 7335., 6660., 3959., 1204., 4862.,
       4150., 3785., 1162., 7733., 3873., 4086., 7350., 4968., 1917.,
       7525., 5130., 6591., 2431., 4363., 7013., 2028., 3784., 6436.,
       3520., 3409., 1872., 4308., 4456., 5805., 4342., 5084., 4274.,
       4460., 2485., 6784., 4401., 7424., 1795., 6227., 6304., 4459.,
       8714., 5315., 3830., 7870., 2792., 3117., 3767., 6290., 4835.,
       5585., 2034., 6192., 1416., 4864., 4128., 6889., 1406., 3331.,
       3744., 1635., 5180., 3574., 6861., 4486., 1167., 2633., 6830.,
       4748., 6041.,  605., 4760., 4333., 3944., 6624., 5459., 3570.,
       5255., 4105., 5729., 1471., 4763., 6370., 4270., 2729., 3831.,
       7384., 2209., 6598., 5786., 4390., 3228., 4725., 4332., 6869.,
       1605., 2134., 4785.,  981., 2417., 2927., 6133., 1927., 1526.,
       7216., 4359., 4094., 4656., 1360., 2471., 3129., 1341., 5557.,
       1650., 2132., 1913., 5611., 6879., 3333., 2935., 2913., 2424.,
       7444., 7534., 4400., 3620., 1446., 5936., 4553.])

In [59]:
r2_score(y,y2)

1.0

In [60]:
model.score(X,y)

1.0

In [62]:
mean_squared_error(y_test,y_pred)

6.326051730093041e-25

In [65]:
(sum(abs(y_test - y_pred))/sum(y_test)) * 100

1.3199265534141382e-14

In [67]:
int((sum(abs(y_test - y_pred))/sum(y_test)) * 100)

0

# Decision Tree

In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor

In [13]:
le2 = LabelEncoder()

In [14]:
df2 = pd.read_csv("day.csv")
df2

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [15]:
df2.shape

(731, 16)

In [16]:
df2.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [17]:
categorical_variables2 = ["season","yr","mnth","holiday","weekday","workingday","weathersit"]
numerical_variables2 = ["temp","atemp","hum","windspeed","casual","registered"]

In [18]:
df2.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [20]:
new_df2 = pd.concat([df2[numerical_variables2],df2[categorical_variables2]],axis = 1)
new_df2

,temp,atemp,hum,windspeed,casual,registered,season,yr,mnth,holiday,weekday,workingday,weathersit
0,0.344167,0.363625,0.805833,0.160446,331,654,1,0,1,0,6,0,2
1,0.363478,0.353739,0.696087,0.248539,131,670,1,0,1,0,0,0,2
2,0.196364,0.189405,0.437273,0.248309,120,1229,1,0,1,0,1,1,1
3,0.200000,0.212122,0.590435,0.160296,108,1454,1,0,1,0,2,1,1
4,0.226957,0.229270,0.436957,0.186900,82,1518,1,0,1,0,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,0.254167,0.226642,0.652917,0.350133,247,1867,1,1,12,0,4,1,2
727,0.253333,0.255046,0.590000,0.155471,644,2451,1,1,12,0,5,1,2
728,0.253333,0.242400,0.752917,0.124383,159,1182,1,1,12,0,6,0,2
729,0.255833,0.231700,0.483333,0.350754,364,1432,1,1,12,0,0,0,1
730,0.215833,0.223487,0.577500,0.154846,439,2290,1,1,12,0,1,1,2

In [21]:
for column in categorical_variables2:
    le2.fit_transform(new_df2[column])
    new_df2[column] = new_df2[column].astype("category")
new_df2

,temp,atemp,hum,windspeed,casual,registered,season,yr,mnth,holiday,weekday,workingday,weathersit
0,0.344167,0.363625,0.805833,0.160446,331,654,1,0,1,0,6,0,2
1,0.363478,0.353739,0.696087,0.248539,131,670,1,0,1,0,0,0,2
2,0.196364,0.189405,0.437273,0.248309,120,1229,1,0,1,0,1,1,1
3,0.200000,0.212122,0.590435,0.160296,108,1454,1,0,1,0,2,1,1
4,0.226957,0.229270,0.436957,0.186900,82,1518,1,0,1,0,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,0.254167,0.226642,0.652917,0.350133,247,1867,1,1,12,0,4,1,2
727,0.253333,0.255046,0.590000,0.155471,644,2451,1,1,12,0,5,1,2
728,0.253333,0.242400,0.752917,0.124383,159,1182,1,1,12,0,6,0,2
729,0.255833,0.231700,0.483333,0.350754,364,1432,1,1,12,0,0,0,1
730,0.215833,0.223487,0.577500,0.154846,439,2290,1,1,12,0,1,1,2

In [22]:
new_df2.dtypes

temp           float64
atemp          float64
hum            float64
windspeed      float64
casual           int64
registered       int64
season        category
yr            category
mnth          category
holiday       category
weekday       category
workingday    category
weathersit    category
dtype: object

In [23]:
dr = DecisionTreeRegressor()

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X,X_test,Y,Y_test = train_test_split(new_df2,df2["cnt"],test_size=0.3)

In [26]:
dr.fit(X,Y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [28]:
Y_pred = dr.predict(X_test)
Y_pred

array([2933., 4401.,  506., 4748., 4758., 4220., 2927., 7350., 2832.,
       1623., 5686., 3163., 4459., 6192., 1917., 4744., 7461., 5336.,
       4128., 7767., 5191., 1421., 6392., 7347., 1263., 7333., 7347.,
       5191., 4378., 2192., 4579., 3485., 4648., 4378., 3574., 6685.,
       5478., 1162., 5260., 7693., 5138., 2933., 3659., 5423., 5191.,
       7006., 4338., 7870., 7870., 4694., 2132., 4839., 6879., 3544.,
       6883., 7359., 3333., 6825., 7534., 1623., 6598., 3523., 1011.,
       7347., 4400., 3239., 6211., 2739., 6273., 4991., 7030., 4333.,
       3126., 7765., 4068., 4803., 5566., 2177., 3239., 3623., 2192.,
       5202., 2311., 4332., 2177., 7347., 1096., 4972., 7641.,  623.,
       2739., 7765., 1913., 2192., 4068., 4154., 6685., 5976., 3761.,
       4153., 4585., 4917., 1450., 6133., 1842., 1248., 6978., 4401.,
       3958., 3351., 3767., 6392., 3392., 4266., 5786., 3867., 6660.,
       6565., 6359., 5202., 4333., 4507., 5020., 1851., 1510., 1913.,
       1851., 4068., 4835.,  627., 4585., 2417., 2132., 3163., 7333.,
       2739., 5267., 6565., 6273., 5511., 7836., 6192., 2417., 7384.,
       1096., 5020., 4714.,  795., 2227.,  623., 3958., 6140., 1501.,
        627., 1977., 4780., 4058., 7393., 6904., 1317., 4991., 6273.,
       2432., 4648., 3744., 6140., 5847., 2792., 5409., 4195., 2236.,
       3204., 3940., 5010., 6917., 1162., 5895., 6457., 4068., 5786.,
       7865., 7534., 3623., 4150., 5686., 7494., 6691., 7458., 4748.,
       3873., 5495., 2425., 7030., 4694., 4660., 3649., 2493., 5010.,
       4665., 3659., 7001., 5102., 4058., 1096., 6852., 4694., 3784.,
       7836., 5905., 7350., 3761., 3239., 7534., 4968., 4803., 1562.,
       5298., 1977., 4322., 2927.])

In [31]:
Y_test

403    2802
371    4521
667      22
297    4687
148    4788
       ...
407    1529
464    5585
73     2056
410    4169
363    2999
Name: cnt, Length: 220, dtype: int64

In [32]:
from sklearn.metrics import r2_score, mean_squared_error

In [33]:
r2_score(Y_test,Y_pred)

0.9895021366134444

In [34]:
dr.score(X,Y)

1.0

In [35]:
mean_squared_error(Y_test,Y_pred)

42319.645454545454

In [38]:
sum(abs(Y_test-Y_pred))/sum(Y_test)

0.03138174008821651