In [62]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz, DecisionTreeRegressor

In [17]:
df = pd.read_csv("HR_comma_sep.csv")

In [18]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [19]:
df.shape

(14999, 10)

In [20]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [21]:
df["Work_accident"].unique()

array([0, 1], dtype=int64)

In [22]:
df.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
left                       int64
promotion_last_5years      int64
sales                     object
salary                    object
dtype: object

In [23]:
df["Work_accident"] = df["Work_accident"].astype("category")

In [24]:
df.dtypes

satisfaction_level        float64
last_evaluation           float64
number_project              int64
average_montly_hours        int64
time_spend_company          int64
Work_accident            category
left                        int64
promotion_last_5years       int64
sales                      object
salary                     object
dtype: object

In [25]:
df["salary"].unique()

array(['low', 'medium', 'high'], dtype=object)

In [26]:
# not numbers

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le = LabelEncoder()

In [30]:
df["salary2"] = le.fit_transform(df["salary"])

In [31]:
df["salary2"].unique()

array([1, 2, 0], dtype=int64)

In [32]:
df["salary2"] = df["salary2"].astype("category")

In [33]:
df.dtypes

satisfaction_level        float64
last_evaluation           float64
number_project              int64
average_montly_hours        int64
time_spend_company          int64
Work_accident            category
left                        int64
promotion_last_5years       int64
sales                      object
salary                     object
salary2                  category
dtype: object

In [39]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,salary2
0,0.38,0.53,2,157,3,0,1,0,sales,low,1
1,0.80,0.86,5,262,6,0,1,0,sales,medium,2
2,0.11,0.88,7,272,4,0,1,0,sales,medium,2
3,0.72,0.87,5,223,5,0,1,0,sales,low,1
4,0.37,0.52,2,159,3,0,1,0,sales,low,1
...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low,1
14995,0.37,0.48,2,160,3,0,1,0,support,low,1
14996,0.37,0.53,2,143,3,0,1,0,support,low,1
14997,0.11,0.96,6,280,4,0,1,0,support,low,1
14998,0.37,0.52,2,158,3,0,1,0,support,low,1

In [35]:
df["left"].unique()

array([1, 0], dtype=int64)

In [36]:
# DecisionTreeClassifier will automatically assume y as categorycal

In [37]:
dt = DecisionTreeClassifier()

In [42]:
columns = df.columns
columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary', 'salary2'],
      dtype='object')

In [43]:
df.reindex(columns = columns)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,salary2
0,0.38,0.53,2,157,3,0,1,0,sales,low,1
1,0.80,0.86,5,262,6,0,1,0,sales,medium,2
2,0.11,0.88,7,272,4,0,1,0,sales,medium,2
3,0.72,0.87,5,223,5,0,1,0,sales,low,1
4,0.37,0.52,2,159,3,0,1,0,sales,low,1
...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low,1
14995,0.37,0.48,2,160,3,0,1,0,support,low,1
14996,0.37,0.53,2,143,3,0,1,0,support,low,1
14997,0.11,0.96,6,280,4,0,1,0,support,low,1
14998,0.37,0.52,2,158,3,0,1,0,support,low,1

In [45]:
dt.fit(df[["Work_accident","salary2"]],df["left"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [49]:
dt.predict(df[["Work_accident","salary2"]])

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [51]:
dt.predict_proba(df[["Work_accident","salary2"]])

array([[0.66905672, 0.33094328],
       [0.77436921, 0.22563079],
       [0.77436921, 0.22563079],
       ...,
       [0.66905672, 0.33094328],
       [0.66905672, 0.33094328],
       [0.66905672, 0.33094328]])

In [60]:
dt.predict([[1,2]])

array([0], dtype=int64)

In [71]:
dr = DecisionTreeRegressor()

In [72]:
dr.fit(df[["satisfaction_level","last_evaluation"]],df["average_montly_hours"])

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [73]:
dr.predict(df[["satisfaction_level","last_evaluation"]])

array([149.25      , 222.        , 269.66666667, ..., 136.5       ,
       282.23076923, 150.95652174])

In [74]:
dr.predict([[0.80,0.86]])

array([222.])

In [75]:
dr1 = DecisionTreeRegressor()
dr1.fit(df[["Work_accident","salary2"]],df["satisfaction_level"])

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [76]:
dr1.predict(df[["Work_accident","salary2"]])

array([0.59526769, 0.61483028, 0.61483028, ..., 0.59526769, 0.59526769,
       0.59526769])

In [77]:
dr1.predict([[1,2]])

array([0.66289221])

In [79]:
le.classes_

array(['high', 'low', 'medium'], dtype=object)

In [80]:
from sklearn.preprocessing import OneHotEncoder

In [81]:
ohe = OneHotEncoder()

In [83]:
temp = ohe.fit_transform(df[["salary2"]]).toarray()

In [84]:
temp

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [85]:
column_names = ["salary_" + x for x in le.classes_]

In [86]:
column_names

['salary_high', 'salary_low', 'salary_medium']

In [87]:
temp = pd.DataFrame(temp, columns = column_names)

In [88]:
temp

       salary_high  salary_low  salary_medium
0              0.0         1.0            0.0
1              0.0         0.0            1.0
2              0.0         0.0            1.0
3              0.0         1.0            0.0
4              0.0         1.0            0.0
...            ...         ...            ...
14994          0.0         1.0            0.0
14995          0.0         1.0            0.0
14996          0.0         1.0            0.0
14997          0.0         1.0            0.0
14998          0.0         1.0            0.0

[14999 rows x 3 columns]

In [89]:
df2 = pd.concat([df,temp],axis = 1)

In [90]:
df2.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,salary2,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,sales,low,1,0.0,1.0,0.0
1,0.80,0.86,5,262,6,0,1,0,sales,medium,2,0.0,0.0,1.0
2,0.11,0.88,7,272,4,0,1,0,sales,medium,2,0.0,0.0,1.0
3,0.72,0.87,5,223,5,0,1,0,sales,low,1,0.0,1.0,0.0
4,0.37,0.52,2,159,3,0,1,0,sales,low,1,0.0,1.0,0.0
5,0.41,0.50,2,153,3,0,1,0,sales,low,1,0.0,1.0,0.0
6,0.10,0.77,6,247,4,0,1,0,sales,low,1,0.0,1.0,0.0
7,0.92,0.85,5,259,5,0,1,0,sales,low,1,0.0,1.0,0.0
8,0.89,1.00,5,224,5,0,1,0,sales,low,1,0.0,1.0,0.0
9,0.42,0.53,2,142,3,0,1,0,sales,low,1,0.0,1.0,0.0

In [93]:
export_graphviz(dt,"test.dot",feature_names=["Work_accident","salary2"])

In [94]:
export_graphviz(dr1,"test1.dot",feature_names=["Work_accident","salary2"])